@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;

  --color-brand-yellow: #ffd166;
  --color-brand-dark: #073b4c;
  --color-brand-teal: #118ab2;
  --color-brand-red: #ef476f;
  --color-brand-bg: #f8f9fa;
  --color-brand-green: #06d6a0;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
}

/* Custom Utilities for Brutalist/Playful feel */
.brutal-shadow {
  box-shadow: 4px 4px 0px var(--color-brand-dark);
}

.brutal-border {
  border: 2px solid var(--color-brand-dark);
}
